html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary-color: #1abc9c;
}

* {
	box-sizing: border-box;
	user-select: none;
}

#app {
	height: 100%;
}
input {
	font-family: 'Roboto', sans-serif !important;
}
input[type='text']:focus {
	border-color: var(--primary-color) !important;
}
button {
	font-family: 'Roboto', sans-serif !important;
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
	float: right;
}

div .button-clear {
	float:right;
	color: var(--primary-color) !important;
	padding:0;
}